@charset "utf-8";

@media screen and (min-width:670px) and (max-width:992px){

body{
    background-image: linear-gradient(to bottom, #427EB8, #55d9257a );
}

  section#login{
    width: 80vw;
  }
section#login > div#imagem{
     background-position: center;
    float: left;
    width: 28vw;
    height: 100%;
}

section#login > div#formulario{
    float: right;
    width: 60%;
}
}

@media screen and (min-width:992px){


body{
    background-image: linear-gradient(to bottom, #427EB8, #55d9257a );
}

    section#login{
        width: 920px;
    }

    section#login > div#imagem{
           background-position: center ;
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario{
        float: right;
        width: 50%;
    }
}