@charset "utf-8";

@media screen and (min-width:600px) and (max-width:700px){
body{
    background-color: #427EB8;
}

  section#login{
    width: 80vw;
    height: 360px;
  }
section#login > div#imagem{
     background-position: center;
    float: left;
    width: 28vw;
    height: 100%;
}

section#login > div#formulario{
    float: right;
    width: 60%;
}

   
div#formulario > p{
    font-size: 1em;
}
}

@media screen and (min-width:700px) and (max-width:992px){

body{
 background-color: #427EB8;
}

  section#login{
    width: 80vw;
    height: 400px;
  }
section#login > div#imagem{
     background-position: center;
    float: left;
    width: 28vw;
    height: 100%;
}

section#login > div#formulario{
    float: right;
    width: 60%;
}

   
div#formulario > p{
    font-size: 1em;
}
}

@media screen and (min-width:992px){


body{
    background-color: #427EB8;
}

    section#login{
        width: 920px;
        height: 400px;
    }

    section#login > div#imagem{
           background-position: center ;
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario{
        float: left;
        width: 50%;
    }

    
div#formulario > h1{
   font-size: 2em;

}
    
div#formulario > p{
    font-size: 1em;
    margin: 20px 0px;
}
}