@charset "utf-8";

/*Paleta de cores
azul: 427EB8
verde: 56D925
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    background-color: #427EB8;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
height: 100vh;
width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.762);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.455);
}

section#login > div#imagem{
    display: block;
    background: #427EB8 url(../imagens/projeto\ teste.jpg) no-repeat;
    background-size: cover;
    background-position: center right;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}