@charset "utf-8";

/*Paleta de cores
azul: 427EB8
verde: 56D925
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    background-color: #427EB8;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
height: 100vh;
width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.762);
    width: 290px;
    height: 518px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.455);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: #427EB8 url(../imagens/projeto\ teste.jpg) no-repeat;
    background-size: cover;
    background-position: center right;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > div.campo{
    background-color:#427EB8 ;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px ;
}

form > div.campo:hover{
    background-color:#56D925 ;
}

div.campo > label{
    display: none;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#6ad842ea ;
    color: rgb(255, 254, 254);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color:#46912bea ;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    margin-top: 5px;
    background-color: white;
    color:  #162a3c;
    border: 1px solid #305b83;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: #427EB8 ;
}

form > a.botao > span{
    font-size: 0.9em;

}